<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <div>
      <img mat-card-image class="img" src="assets\twt.png">
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="boxes">
    <div class="container">
      <div class="box">
        <img mat-card-image class="log" src="assets\logo.png">

    <div class="title">
      <b>Happening now</b>
    </div>

    <div class="sub-title">
      <b>Join Twitter today</b>
    </div>
    <br><br>
    
    <div class="container" style="max-width: 550px">
      <div *ngIf="isLoggedin === false">
        <div>
    <button mat-stroked-button type="button" (click)="loginWithGoogle()" class="btn btn-danger" style="border-radius: 20px; margin-left: -205px; margin-top: -30px;" class="button-1">
      <img src="https://img.icons8.com/fluency/22/000000/google-logo.png"/>
      Sign up with Google</button>
    </div>
  </div>

  <div *ngIf="isLoggedin === true">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
    </div>
    

    <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
  </div>
</div>    
        <br>
   <div class="buttons">
      <button mat-stroked-button style="border-radius: 20px;" class="button-1">
        <mat-icon>apple</mat-icon>
        Sign up with Apple</button>

      <div class="gap">or</div>
    
      <div class="container" style="max-width: 550px">
        <div *ngIf="isLoggedin === false">
          <div>
      <button mat-stroked-button type="button" (click)="loginWithGoogle()" class="btn btn-danger"  class="button-2"  style="border-radius: 20px; margin-left: -200px; margin-top: 12px;" >
      Sign up with phone or email</button>       
    </div>
  </div>

  
  <div *ngIf="isLoggedin === true">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
    </div>
   
    <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
  </div>
</div>    

 
    <div class="text">
      By signing up, you agree to the <span class="clr">Terms of Service</span> and <span class="clr">Privacy</span><p><span class="clr">Policy</span> ,including <span class="clr">Cookie Use</span>.
    </div>

    <div class="sub-title1">
      Already have an account ?
    </div>

      <div class="btn3">
        <button mat-stroked-button id="button-3" class="sign" style="font-weight: 400;">Sign in</button>
       </div>
      </div>
     </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div class="handler">
  About
  <span style="word-spacing: -1px;" >Help Center</span>
  TermsofService
  <span>PrivacyPolicy</span>
  Cookie Policy
  Accessibility
  Adsinfo
  Blog
  Status
  Careers
  BrandResources
  Advertising
  Marketing
  TwitterforBusiness
  Developers
  Directory
  Settings<p style="margin-top: 6px;">
  ©2022Twitter,Inc.
  </div>